/* ogólny css*/
body{
  margin: 0 auto;
  width: 90%;
}

.container{
  width: 1000%;
  padding-top: 1%;
}

.err{
  color: red;
}

/* header.html css*/
nav{
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 1px 1px 1px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.a{
  display: flex;
  flex: 25%;
  align-items: center;
  justify-content: center;
  font-variant: small-caps;
}

.b{
  flex: 75%;
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
}

.b ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
}

.b ul li{
  flex: 33%;
}

.b ul li a{
    text-decoration: none;
    color: black;
}

/* register.php */
form{
  margin-top: 1%;
  width: 30%;
  line-height: 2.5;
}

form  label{
  display: block;
  margin-top: 1%;
}

/* users.php */
.userLink{
  display: inline-block;
  margin: 0 10 0 5;
}

/* usersList.php */
#usersMainDiv{
  margin-bottom: 2%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
  padding: 5px;
}

/*  footer.html css*/
.stopka{
  border-top: 2px solid black;
  padding-top: 1%;
}
